.small-container{
    width: 600px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.small-card-img > img{
    height: 100%;
    width: 200px;
    min-width: 200px;
    margin-right: 30px;
    border-radius: 5px;
}

@media (max-width: 1100px){
    .small-card-img > img{
        width: 150px;
        min-width: 150px;
        margin-right: 20px;
    }

    .small-title > h3 {
        font-size: 1rem;
    }
}

@media (max-width:1000px) {
    .small-container{
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width:800px) {
    .small-container{
        width: 500px;
    }
  
    .small-title > h3 {
        font-size: 1rem;
        max-width: 45ch;
    }
}

@media (max-width:600px) {
    .small-container{
        width: 400px;
    }
  
    .small-title > h3 {
        font-size: 0.7rem;
        max-width: 45ch;
    }

    .small-card-img > img{
        width: 120px;
        min-width: 120px;
    }
}

@media (max-width:500px) {
    .small-container{
        width: 300px;
    }
}