<app-menu-title></app-menu-title>

<div class="articles">
    <div class="main-article">
        <app-main-card Id="1" photoCover="../../../assets/main-card.webp"
            cardTitle="Chicago Bulls tem temporada melancólica e pode partir para trocas."
            cardDescription="Time de Illinois teve mais uma campanha abaixo das expectativas e deve passar por mudanças."></app-main-card>
    </div>

    <div class="other-articles">
        <app-small-card Id="2" photoCover="../../../assets/small-card-01.webp"
            cardTitle="Perto da eliminação, Los Angeles Lakers precisa olhar para o futuro. Time californiano perdeu pela terceira vez seguida na série final do Oeste. LeBron James cogita aposentadoria."></app-small-card>

        <app-small-card Id="3" photoCover="../../../assets/small-card-02.webp"
            cardTitle="O Boston Celtics está prestes a ser eliminado dos playoffs, já que perdeu por 2 a 3 contra o Philadelphia 76ers nas semifinais da Conferência Leste."></app-small-card>

        <app-small-card Id="4" photoCover="../../../assets/small-card-03.webp"
            cardTitle="Stephen Curry é, sem dúvida, um dos jogadores que revolucionou a NBA. O armador do Golden State Warriors, campeão da NBA, é considerado por muitos como o maior arremessador de todos os tempos."></app-small-card>
    </div>
</div>

<div class="leaders">
    <app-leaders></app-leaders>
</div>

<app-footer></app-footer>