<div class="leaders-container" id="leader">
    <div class="leaders-title">
        <h2>Classificação</h2>
    </div>
    <div class="leaders-text">
        <p>Finalmente, a temporada regular da NBA de 2022-23 chegou ao fim e os playoffs estão oficialmente chegando. Mesmo nos últimos dias, houve muitas ações importantes, já que algumas das finais da temporada tiveram ramificações significativas na classificação da pós-temporada na Conferência Oeste. Aqui está uma olhada em como as coisas se encaixaram na chave dos playoffs.</p>
    </div>
    <div class="score">
        <img src="../../../assets/leaders.webp" alt="">
    </div>
</div>

<div class="dec">
    <div class="dec-item">
        <img src="../../../assets/bulls.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/lakers.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/bucks.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/cleveland.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/celtics.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/nets.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/raptors.webp" alt="decoration">
    </div>
    <div class="dec-item">
        <img src="../../../assets/golden-state.webp" alt="decoration">
    </div>
</div>